@page "/sub"

@namespace Example.Blazor.Components

@inject INavigation Navigation

<ScrollViewer>
    <StackPanel HorizontalAlignment="HorizontalAlignment.Center"
                VerticalAlignment="VerticalAlignment.Center">
        <Button OnClick="Back">Back</Button>
        <TextBlock Text="This a second page." Foreground="Colors.Blue"></TextBlock>
    </StackPanel>
</ScrollViewer>

@code {

    public async Task Back()
    {
        await Navigation.PopAsync();
    }

}