<?xml version="1.0"
      encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="true">
	<targets>


		<target xsi:type="DebugSystem"
		        name="debugger" />

	</targets>

	<!--<rules>

		<logger name="Consolonia.Input"
		        minlevel="Trace"
		        writeTo="debugger" />
	</rules>-->
</nlog>