@page "/"

@namespace Example.Blazor

@using System.Collections.ObjectModel
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.CompilerServices
@using Microsoft.AspNetCore.Components.Infrastructure
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.RenderTree
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Sections
@using A = global::Avalonia;
@using AL = global::Avalonia.Layout;
@using AC = global::Avalonia.Controls;
@using AM = global::Avalonia.Media
@using BlazorBindings.Core;
@using BlazorBindingsAvalonia.Elements
@using BlazorBindingsAvalonia.Elements.Shapes
@using BlazorBindingsAvalonia.Extensions

<BlazorBindingsAvalonia.Elements.Window Title="Blazor Bindings for Consolonia" Topmost="true">
    <StackPanel Orientation="AL.Orientation.Vertical">
        @if (showCounter)
        {
            <TextBlock>Counter: @ButtonText</TextBlock>
            <Button OnClick="@OnCounterClicked">Increment</Button>
        }
        <Button OnClick="@ToggleButton">Toggle</Button>
    </StackPanel>
</BlazorBindingsAvalonia.Elements.WindowWindow>

@code {
    int count = 0;
    bool showCounter = true;

    string ButtonText => count switch
    {
        0 => "Click me",
        1 => $"Clicked 1 time",
        _ => $"Clicked {count} times"
    };


    void ToggleButton()
    {
        showCounter = !showCounter;
    }

    void OnCounterClicked()
    {
        count++;
    }
}