name: Repo file sync

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: file-sync-${{ github.ref }}
  cancel-in-progress: false

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@main
      - name: Run repo file sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.SYNC_TOKEN }}